@mixin mQ($arg...){
    @if length($arg) == 2 {
        @media screen and (min-width: nth($arg, 1)) and (max-width: nth($arg, 2)) {
            @content;
        }
    }
    @else {
        @media screen and (min-width: nth($arg, 1)) {
            @content;
        }
    }
}

@font-face{
    font-family: 'Alfa Slab One';
    src: url('./assets/fonts/AlfaSlabOne-Regular.ttf');
}
@font-face{
    font-family: 'Oswald';
    src: url('./assets/fonts/Oswald-Regular.ttf');
}
@font-face{
    font-family: 'Raleway';
    src: url('./assets/fonts/Raleway-Regular.ttf');
}
@font-face{
    font-family: 'Source Serif Pro';
    src: url('./assets/fonts/SourceSerifPro-Regular.ttf');
}
body{
    margin: 0;
    padding: 0;
}
a, a:visited, a:active, a:hover{
    color: unset;
    text-decoration: none;
}
#app{
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}
.menuSP{
    cursor: pointer;
    position: fixed;
    top: 0;
}

#main{
    transition: .5s;
    padding: 20px;
    width: 95%;
    box-sizing: border-box;
}
.sideBar{
    background-color: #b8b1b1;
    width: 0;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    position: fixed;
    box-shadow: 0px 2px 5px 5px transparentize(#000, 0.7);
    h3{
        span{
            color: #fff;
        }
        font-family: 'Alfa Slab One', fantasy;
        text-shadow: 4px 6px 3px transparentize(#000, 0.8);
        cursor: default;
        font-size: 31px;
        transition: 0.3s;
    }
    >ul{
        border: 1px solid #000;
        display: flex;
        position: relative;
        z-index: 1;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        padding: 1px;
        box-sizing: border-box;
        font-family: 'Source Serif Pro', serif;
        font-size: 21px;
        font-variant: small-caps;
        height: auto;
        letter-spacing: 3px;
        li{
            margin: 12px;
            z-index: 1;
            padding: 10px 0;
            text-align: right;
            list-style: none;
            display: flex;
            flex-direction: column;
            position: static;
            justify-content: space-around;
            opacity: 1;
            transition: 0.9s;
            ul{
                padding: 5px;
                z-index: 1;
                position: relative;
                margin: 5px;
                font-size: 12px;
                height: 0;
                opacity: 0;
                transition: 0.9s;
                font-family: serif;
                li{
                    padding: 6px 2px;
                    margin: 2px;
                    position: relative;
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-end;
                    align-items: center;
                }
            }
        }
    }
}

.podcast{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style: none;
    min-height: 400px;
    box-sizing: border-box;
    .podList{
        width: 80%;
        margin: 10px auto;
        overflow: hidden;
        box-shadow: 0px 0px 2px transparentize(#000, 0.6);
        border-radius: 13px;
        padding: 12px;
        box-sizing: border-box;
        transition: .2s;
        &:hover{
            box-shadow: 0px 0px 5px 2px transparentize(#000, 0.6);
            transition: .5s;
        }
        div{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            h3{
                font-family: 'Oswald', sans-serif;
            } 
            img{
                width: 120px;
            }
        }
        @include mQ('1025px'){
            width: 300px;
            margin: 15px;
        }
        ul{
            margin: 21px auto;
            width: 100%;
            text-wrap: wrap;
            padding: 0;
            display: flex;
            flex-direction: column;
            font-family: 'Raleway', sans-serif;
            font-size: 13px;
            justify-content: space-around;
            list-style: none;
            li{
                width: 100%;
                margin: 3px;
            }
        }
    }
}

.hide{
    display: none !important;
    transition: 0.5s;
}